* {
  padding: 0;
  margin: 0;
}

.bar {
  background: rgba(17, 17, 17, 0.1);
  color: #c9c7cd;
}

.right {
  color: #c9c7cd;
}

.left {
  margin-left: 2rem;
  color: #c9c7cd;
}

.center {
  background: rgba(17, 17, 17, 0);
  color: #c9c7cd;
}

.divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hover {
  transition: 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

.workspace {
  background-color: #3e3e43;
  padding: 0px;
  border-radius: 5px;
  min-width: 6px;
  min-height: 6px;
  transition: 100ms cubic-bezier(0, 0.55, 0.45, 1);
}

.workspace-active {
  background: rgba(225, 225, 225, 1);
}

.systray {
  background: rgba(17, 17, 17, 0);
}

.volume-indicator {
  background: rgba(17, 17, 17, 0);
  color: #c9c7cd;
}

.media {
  background: rgba(17, 17, 17, 0);
  font-weight: bold;
  color: #c9c7cd;
}

.microphone {
  background: rgba(17, 17, 17, 0);
  color: #c9c6cd;
}

.microphone-muted {
  background: rgba(17, 17, 17, 0);
  color: #757581;
}

.card {
  border-radius: 8px;
  padding: 4px;
}

.clock {
  color: #c9c7cd;

  margin-right: 1rem;
}

.dashboard-btn {
  background: rgba(17, 17, 17, 0);

  color: #757581;
}

.dashboard {
  background: rgba(17, 17, 17, 0);
}

.notification-list {
  padding: 10px;
}

.todoist {
  padding: 2rem;
  color: #c9c7cd;
}

.todoist-tasks {
  color: #c9c7cd;
  margin-top: 0.6rem;
}

.todoist-count {
  color: #c9c7cd;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
