* {
  padding: 0;
  margin: 0;
}

.bar {
  background: #161617;
  color: #C9C7CD;
}


.right {
  color: #C9C7CD;
}

.left {
  margin-left: 2rem;
  color: #C9C7CD;
}

.center {
  background: #161617;
  color: #C9C7CD;
}

.divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hover {
  transition: 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

.workspace {
  background-color: #3E3E43;
  padding: 0px;
  border-radius: 5px;
  min-width: 6px;
  min-height: 6px;
  transition: 100ms cubic-bezier(0, 0.55, 0.45, 1);
}

.workspace-active {
  background-color: #C9C7CD;
}

.systray {
  background-color: #161617;
}

.volume-indicator {
  background-color: #161617;
  color: #C9C7CD;
}

.media {
  background: #161617;
  color: #C9C7CD;
}

.microphone {
  background-color: #161617;
  color: #C9C6CD;
}

.microphone-muted {
  background-color: #161617;
  color: #757581;
}


.card {
  border-radius: 8px;
  padding: 4px;
}

.clock {
  color: #C9C7CD;

  margin-right: 1rem;

}

.dashboard-btn {

  background-color: #161617;
  color: #757581;
}


.dashboard {
  padding: 2rem;
  background-color: #161617;
}


.notification-list {
  padding: 10px;
}
